name: tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        python-version: ["3.9"]
    concurrency:
      group: ci-${{ github.ref }}
      cancel-in-progress: true
    
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
    
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "*"
        environment-file: conda/dev.yaml
        channels: conda-forge,nodefaults
        activate-environment: env-satellite
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: |
        poetry config experimental.new-installer false
        poetry config virtualenvs.create false
        poetry build
        poetry install

    - name: Create env file
      run: envsubst < env.tpl > .env

    # - name: Linting
    #   run: |
    #     make check-codestyle

    - name: Build docker images
      run: |
         make docker-build ENV=dev

    - name: Docker start satellite
      run: |
        make docker-start ENV=dev SERVICES=satellite

    # - name: Test with pytest
    #   run: |
    #     make test
